<%- include('./components/navHeader.ejs') %>

    <div class="container">
        <a href="/" class="btn btn-outline-warning mt-5 mb-5">Back</a>

        <h1><%= data.name %></h1>
        <hr>
        <h6>Apa itu <%= data.name %> ?<p><%= data.description %></p></h6>

        <img src="<%= data.imageUrl %>" width="500" height="400">

        
        <h6>Gejala: </h6>
        <% data.Symptomps.forEach(el => { %>
            <ul>
                <li><%= el.name %></li>
            </ul>
        <% }) %>

        <h6>Penaganan: <%= data.drug %></h6>
    </div>

</body>
</html>